{% macro initial_cluster() -%}
{% for host in groups['etcd-nodes'] -%}
  https://{{ hostvars[host]['etcd_machine_address'] }}:{{ etcd_client_port }}
  {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{% endmacro -%}


[Unit]
Description=flannel container network agent
Documentation=https://github.com/coreos/flannel
After=network.target After=network-online.target
Wants=After=network-online.target
Before=docker.service

[Service]
EnvironmentFile=-{{ flannel_config_file }}

ExecStartPre={{ flannel_bin_dir }}/{{ flannel_remove_docker0_script_file }}

User=root

ExecStart={{ flannel_bin_dir }}/flanneld \
    --etcd-endpoints={{ initial_cluster() }} \
    --etcd-prefix={{ flannel_etcd_key }}
    --etcd-cafile={{ flannel_etcd_ca_file }} \
    --etcd-certfile={{ flannel_etcd_client_cert_file }} \
    --etcd-keyfile={{ flannel_etcd_client_key_file }}
    --iface={{ flannel_iface }} \
    --ip-masq

ExecStartPost={{ flannel_bin_dir }}/mk-docker-opts.sh -d {{ flannel_docker_option_file }}

Restart=on-failure
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

