{% macro initial_lb() -%}
{% for host in groups['load-balancer'] -%}
  {{ hostvars[host]['load_balancer_machine_address'] }}
  {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{% endmacro -%}

{% macro get_host_ip() -%}
   {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
{%- endmacro -%}


[Unit]
Description=kubelet
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory={{ kubelet_data_dir }}
EnvironmentFile=-/etc/kubernetes/kubelet
ExecStart={{ kube_bin_dir }}/kubelet \
        --logtostderr=true \
        --v=2 \
        --address={{ get_host_ip() }} \
        --register-node=true \
        --cluster-dns={{ kube_dns_ip }} \
        --cluster-domain=cluster.local \
        --kubeconfig={{ kubelet_kubeconfig_file }} \
        --pod-manifest-path={{ kube_pod_manifest_dir }} \
        --allow-privileged=true \
        --authorization-mode=AlwaysAllow \
        --client-ca-file={{ kube_ca_cert_file }} \
        --fail-swap-on=false \
        --network-plugin=cni \
        --cni-conf-dir={{ kube_cni_conf_dir }} \
        --cni-bin-dir={{ kube_cni_bin_dir }}
Restart=on-failure

[Install]
WantedBy=multi-user.target

